<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="content">
        <h:form id="dataTable">
            <p:dataTable value="#{clientController.clientList}" var="client">
                <f:facet name="header">All Clients</f:facet>
                <p:column headerText="Name">
                    <h:outputText value="#{client.name}" />
                </p:column>
                <p:column headerText="Surname">
                    <h:outputText value="#{client.surname}" />
                </p:column>
                <p:column headerText="City">
                    <h:outputText value="#{client.city}" />
                </p:column>
                <p:column headerText="Phone">
                    <h:outputText value="#{client.phone}" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Open"
                        action="#{clientController.update(client)}">
                    </p:commandButton>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Delete"
                        action="#{clientController.delete(client)}">
                        <p:confirm header="Confirmation" message="Are you sure?"
                            icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button"
                            styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                            styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:commandButton action="#{clientController.create}"
            update="updateForm" value="Create client"
            oncomplete="PF('createClient').show();" />
        <p:commandButton action="#{surveyController.create}"
            update="surveyForm" value="Add new survey"
            oncomplete="PF('createSurvey').show();" />
        <p:dialog header="Create Client" widgetVar="createClient"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="updateForm">
                <p:outputPanel rendered="#{clientModel.currentClient != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{clientController.clientModel.currentClient.name}"
                            required="true">
                            <f:validateLength minimum="2" maximum="20"/>
                        </p:inputText>
                        <p:message for="name"></p:message>
                        
                        <p:outputLabel for="surname">Surname:</p:outputLabel>
                        <p:inputText id="surname"
                            value="#{clientController.clientModel.currentClient.surname}"
                            required="true">
                            <f:validateLength minimum="2" maximum="20"/>
                        </p:inputText>
                        <p:message for="surname"></p:message>
                        
                        <p:outputLabel for="city">City:</p:outputLabel>
                        <p:inputText id="city"
                            value="#{clientController.clientModel.currentClient.city}">
                            <f:validateLength maximum="20"/>
                        </p:inputText>
                        <p:message for="city"></p:message>

                        <p:outputLabel for="phone">Phone:</p:outputLabel>
                        <p:inputText id="phone"
                            value="#{clientController.clientModel.currentClient.phone}">
                            <f:validateLength maximum="20"/>
                        </p:inputText>
                        <p:message for="phone"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{clientController.save}"
                            update="updateForm dataTable"
                            oncomplete="if (!args.validationFailed) PF('createClient').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{clientController.cancel}"
                            update="updateForm dataTable"
                            oncomplete="PF('createClient').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
        <p:dialog header="Create Survey" widgetVar="createSurvey"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="surveyForm">
                <p:outputPanel rendered="#{surveyModel.currentSurvey != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <h:outputLabel for="client" value="Client"></h:outputLabel>
                        <p:selectOneMenu id="client"
                            value="#{clientController.clientModel.currentClient}"
                            converter="#{clientConverter}"
                            required="true">
                            <f:selectItem itemValue="#{null}" itemLabel="Not selected"
                                noSelectionOption="true">
                            </f:selectItem>
                            <f:selectItems
                                value="#{clientController.getClientList()}" 
                                var="listedClient" itemValue="#{listedClient}"
                                itemLabel="#{listedClient.getSurname()}"/>
                        </p:selectOneMenu>
                        <p:message for="client"></p:message>

                        <p:outputLabel for="satisfaction">Satisfaction:</p:outputLabel>
                        <p:inputText id="satisfaction"
                            value="#{surveyController.surveyModel.currentSurvey.satisfaction}">
                            <f:validator binding="#{satisfactionValidator}" />
                        </p:inputText>
                        <p:message for="satisfaction"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{surveyController.save}"
                            update="surveyForm dataTable"
                            oncomplete="if (!args.validationFailed) PF('createSurvey').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{surveyController.cancel}"
                            update="surveyForm"
                            oncomplete="PF('createSurvey').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>

    <ui:define name="title">
          All clients
    </ui:define>

</ui:composition>