<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="title">
        Client surveys
    </ui:define>
    <ui:define name="leftside">
        <h:form id="clientInfo">
            <p:panelGrid columns="2">
                <f:facet name="header">Client Info</f:facet>
                <h:outputText value="Name:" />
                <h:outputText value="#{clientModel.currentClient.name}" />
                
                <h:outputText value="Surname:" />
                <h:outputText value="#{clientModel.currentClient.surname}" />
                
                <h:outputText value="City:" />
                <h:outputText value="#{clientModel.currentClient.city}" />
                
                <h:outputText value="Phone:" />
                <h:outputText value="#{clientModel.currentClient.phone}" />
            </p:panelGrid>
            <p:commandButton value="Update"
                rendered="#{clientModel.currentClient != null}"
                update="clientInfo clientForm"
                oncomplete="PF('updateClient').show();" />
        </h:form>
        <p:dialog header="Edit Client" widgetVar="updateClient"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="clientForm">
                <p:outputPanel rendered="#{clientModel.currentClient != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{clientController.clientModel.currentClient.name}"
                            required="true">
                            <f:validateLength minimum="2" maximum="14"/>
                        </p:inputText>
                        <p:message for="name"></p:message>
                        
                        <p:outputLabel for="surname">Surname:</p:outputLabel>
                        <p:inputText id="surname"
                            value="#{clientController.clientModel.currentClient.surname}"
                            required="true">
                            <f:validateLength minimum="2" maximum="14"/>
                        </p:inputText>
                        <p:message for="surname"></p:message>
                        
                        <p:outputLabel for="city">City:</p:outputLabel>
                        <p:inputText id="city"
                            value="#{clientController.clientModel.currentClient.city}">
                            <f:validateLength maximum="20"/>
                        </p:inputText>
                        <p:message for="city"></p:message>

                        <p:outputLabel for="phone">Phone:</p:outputLabel>
                        <p:inputText id="phone"
                            value="#{clientController.clientModel.currentClient.phone}">
                            <f:validateLength maximum="20"/>
                        </p:inputText>
                        <p:message for="phone"></p:message>
                        
                        <p:commandButton value="Save"
                            actionListener="#{clientController.save}"
                            update="clientForm clientInfo"
                            oncomplete="if (!args.validationFailed) PF('updateClient').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            update="clientForm clientInfo"
                            oncomplete="PF('updateClient').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
    <ui:define name="rightside">
        <h:form id="surveyTable">
            <p:dataTable value="#{clientController.getFreshSurveyList()}" var="survey">
                <f:facet name="header">Client Surveys</f:facet>
                <p:column headerText="Date">
                    <h:outputText value="#{survey.surveyDate}" />
                </p:column>
                <p:column headerText="Satisfaction">
                    <h:outputText value="#{survey.satisfaction}" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Update"
                        action="#{surveyController.update(survey)}" 
                        update="updateForm"
                        oncomplete="PF('createSurvey').show();" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Delete" update="@form" immediate="true"
                        actionListener="#{surveyController.delete(survey)}">
                        <p:confirm header="Confirmation" message="Are you sure?"
                            icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button"
                            styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                            styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:commandButton action="#{surveyController.create}"
            update="updateForm" value=" Create"
            oncomplete="PF('createSurvey').show();" />
        <p:dialog header="Create/Edit Survey" widgetVar="createSurvey"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="updateForm">
                <p:outputPanel rendered="#{surveyModel.currentSurvey != null}">
                    <h:panelGrid columns="3" cellpadding="5">

                        <p:outputLabel for="satisfaction">Satisfaction:</p:outputLabel>
                        <p:inputText id="satisfaction"
                            value="#{surveyController.surveyModel.currentSurvey.satisfaction}">
                            <f:validator binding="#{satisfactionValidator}" />
                        </p:inputText>
                        <p:message for="satisfaction"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{surveyController.save}"
                            update="updateForm surveyTable"
                            oncomplete="if (!args.validationFailed) PF('createSurvey').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{surveyController.cancel}"
                            update="updateForm surveyTable"
                            oncomplete="PF('createSurvey').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>